@page "/annotate"
@using Blazor.Extensions.Canvas;
@using Blazor.Extensions.Canvas.Canvas2D;
@using Blazor.Extensions;
@using System.Numerics;
@using CanvasDisplayEngine;
@using ShapeEditor;
@using ShapeEditor.Tools;
`

<h3>Annotating</h3>

<ComboBox Items="test1" SelectedItem="test"/>

<div @onmousedown=@RegisterMouseDownAsync
     @onmouseup=@RegisterMouseUpAsync
     @onmousemove=@RegisterMouseUpdateAsync
     style="background-image: url('@DOG'); 
     background-repeat: no-repeat">
    <BECanvas Width="460" Height="292" @ref="@canvas"></BECanvas>
</div>

<button class="btn btn-primary" @onclick="@(_ => shapeEditor?.EquipEditingTool(new CreationTool()))">Tworzenie</button>
<button class="btn btn-primary" @onclick="@(_ => shapeEditor?.EquipEditingTool(new ReshapingTool()))">Przekształcanie</button>
<button class="btn btn-primary" @onclick="@(_ => shapeEditor?.EquipEditingTool(new SplittingTool()))">Rozdzielanie</button>
<button class="btn btn-primary" @onclick="@(_ => shapeEditor?.EquipEditingTool(new RemovalTool()))">Usuwanie</button>
<button class="btn btn-primary" @onclick="@(_ => shapeEditor?.EquipEditingTool(new RectangularScalingTool()))">Skalowanie Prostokątne</button>
<button class="btn btn-primary" @onclick="@(_ => shapeEditor?.EquipEditingTool(new RectangleCreationTool()))">Prostokąt</button>
<button class="btn btn-primary" @onclick="@(_ => shapeEditor?.EquipEditingTool(new MovementTool()))">Poruszanie</button>

<br />
<button class="btn btn-primary" @onclick="@Undo">Cofnij</button>
<button class="btn btn-primary" @onclick="@ResetShape">Resetuj</button>

@code {
    private const string DOG = PlaceholderData.ExampleBase64s.DOG;
    private Canvas2DContext? context;
    private BECanvasComponent? canvas;
    private CanvasDisplayEngine? drawingEngine;
    private ShapeEditor? shapeEditor;

    private Test? test;
    private Test[] test1 = new Test[] { 
        new() { Abc = "student" }, 
        new() { Abc = "dziekan" }, 
        new() { Abc = "rektor" } 
    };


    private class Test
    {
        public string? Abc { get; set; }

        public override string ToString()
        {
            return Abc ?? string.Empty;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }

        context = await canvas.CreateCanvas2DAsync();
        drawingEngine = new(context, canvas!);

        var polygon = new Shape(new(255, 0, 0));

        drawingEngine.Drawables.Add(polygon);
        drawingEngine.Drawables.Add(new SelectionIndicator() { Shape = polygon });
        await drawingEngine.RenderFrame();

        shapeEditor = new();
        shapeEditor.AssignShape(polygon);

        IShapeEditingTool tool = new CreationTool();
        shapeEditor.EquipEditingTool(tool);
    }
    
    private async Task RegisterMouseDownAsync(MouseEventArgs e)
    {
        var data = new InputEventData(e.OffsetX, e.OffsetY, e.Button);
        shapeEditor?.PressTool(data);
        await drawingEngine!.RenderFrame();
    }

    private async Task RegisterMouseUpdateAsync(MouseEventArgs e)
    {
        var data = new InputEventData(e.OffsetX, e.OffsetY, e.Button);
        shapeEditor?.MoveTool(data);
        await drawingEngine!.RenderFrame();
    }

    private async Task RegisterMouseUpAsync(MouseEventArgs e)
    {
        var data = new InputEventData(e.OffsetX, e.OffsetY, e.Button);
        shapeEditor?.ReleaseTool(data);
        await drawingEngine!.RenderFrame();
    }

    private async Task Undo()
    {
        shapeEditor?.Undo();
        await drawingEngine!.RenderFrame();
    }

    private async Task ResetShape()
    {
        shapeEditor?.ResetShape();
        await drawingEngine!.RenderFrame();
    }
}
