@page "/login"
@using ImageAnnotationToolDataAccessLibrary.Models.TeamManagement;
@using System.ComponentModel.DataAnnotations;

<PageTitle>Logowanie</PageTitle>
<div class="alert alert-dismissible alert-warning">
	<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
	<h4 class="alert-heading">Drogi użytkowniku!</h4>
	<p class="mb-0">Pamiętaj aby chronić swoje dane. Wypełniając login i hasło zadbaj o bezpieczeństwo środowiska swojej pracy</p>
</div>

<form>
  <fieldset>
	<h3>Zaloguj się</h3>
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">E-mail</label>
       
<EditForm Model="@loginFormData">
	<DataAnnotationsValidator />
	<InputText type="email"
			   class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Wprowadź e-mail"
			   @bind-Value="@loginFormData.Email" />
	<ValidationSummary />
</EditForm>

	  
      </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="form-label mt-4">Hasło</label>
<EditForm Model="@loginFormData">
	<DataAnnotationsValidator />
	<InputText type="password"
			   class="form-control" id="exampleInputPassword1" placeholder="Hasło"
			   @bind-Value="@loginFormData.Password" />
	<ValidationSummary />
</EditForm>

    </div>


    </fieldset>
	<br/>
    <button type="submit" class="btn btn-primary" @onclick="@LoginToAccount">Zaloguj</button>
	


	<a class="btn btn-primary" data-bs-toggle="offcanvas" href="/Odzyskiwanie" role="button" aria-controls="offcanvasExample">
  Odzyskaj hasło</a>

	

	<a class="btn btn-primary" data-bs-toggle="offcanvas" href="/register" role="button" aria-controls="offcanvasExample">
  Zarejestruj
</a>
</form>
@*
<EditForm Model="@loginFormData">
	<DataAnnotationsValidator />
	<InputText type="email"
			   placeholder="Email"
			   @bind-Value="@loginFormData.Email" />
	<ValidationSummary />
</EditForm>

<EditForm Model="@loginFormData">
	<DataAnnotationsValidator />
	<InputText type="password"
			   placeholder="Hasło"
			   @bind-Value="@loginFormData.Password" />
	<ValidationSummary />
</EditForm>

<br/>

<button
	type="submit"
	class="btn btn-success form-"
	@onclick="@LoginToAccount">

	Zaloguj
</button>*@

@code {
	private class LoginFormData
	{
		[Required(ErrorMessage = "Pole wymagane")]

		public string Email { get; set; }

		[Required(ErrorMessage = "Pole wymagane")]

		public string Password { get; set; }
	}

	private LoginFormData loginFormData = new();

	private async Task LoginToAccount()
	{

	}
	
}
