@page "/register"
@using ImageAnnotationToolDataAccessLibrary.Models.TeamManagement;
@using System.ComponentModel.DataAnnotations;
@using Microsoft.EntityFrameworkCore;
@using ImageAnnotationToolDataAccessLibrary.ModelCreationRequests;
@using ImageAnnotationToolDataAccessLibrary.Exceptions;
@using Blazored.FluentValidation;
@using Validation;
@using Microsoft.AspNetCore.Components.Forms;
@inject IUserAccountsServiceProvider userAccountsService;
@inject SignUpFormDataValidation validator;

<PageTitle>Rejestracja</PageTitle>
<h3>Rejestracja</h3>

<EditForm 
	Model="@signUpFormData"
		  OnValidSubmit="@AddNewAccount">
	<DataAnnotationsValidator />
@*	<FluentValidationValidator Validator="validator"/>
*@	<InputText 
		type="text" 
		placeholder="Login" 
		@bind-Value="@signUpFormData.Login" />
	<br />
	<InputText 
		type="email" 
		placeholder="Email" 
		@bind-Value="@signUpFormData.Email" />
	<br />
	<InputText 
		type="password" 
		placeholder="Hasło" 
		@bind-Value="@signUpFormData.Password" 
		/>
	<br />
	<InputText type="password"
			   placeholder="Potwierdź hasło"
			   @bind-Value="@signUpFormData.ConfirmPassword"
			   />
	<ValidationSummary />



	<button type="submit"
			class="btn btn-success form-"
			disabled="@(!context.Validate() || !context.IsModified())">
		Zarejestruj
	</button>
</EditForm>


@code {

	private SignUpFormData signUpFormData = new();

	private async Task AddNewAccount(EditContext context)
	{
		if (await userAccountsService.UserWithLoginExists(signUpFormData.Login))
		{		
			return;
		}

		var sentSignUpFormData = signUpFormData;
		signUpFormData = new();

		context.NotifyValidationStateChanged();

		try
		{
			await userAccountsService.RegisterAccount(sentSignUpFormData);
		}
		catch (LoginIsAlreadyTakenException) {}
	}
}