@page "/register"
@using ImageAnnotationToolDataAccessLibrary.Models.TeamManagement;
@using System.ComponentModel.DataAnnotations;
@using Microsoft.EntityFrameworkCore;
@using ImageAnnotationToolDataAccessLibrary.ModelCreationRequests;

<PageTitle>Rejestracja</PageTitle>
<h3>Rejestracja</h3>

<EditForm Model="@signUpFormData">
	<DataAnnotationsValidator />
	<InputText 
		type="text" 
		placeholder="Login" 
		@bind-Value="@signUpFormData.Login" />
	<ValidationSummary />
</EditForm>

<EditForm Model="@signUpFormData">
	<DataAnnotationsValidator />
	<InputText 
		type="email" 
		placeholder="Email" 
		@bind-Value="@signUpFormData.Email" />
	<ValidationSummary />
</EditForm>

<EditForm Model="@signUpFormData">
	<DataAnnotationsValidator />
	<InputText 
		type="password" 
		placeholder="Hasło" 
		@bind-Value="@signUpFormData.Password" 
		/>
	<ValidationSummary />
</EditForm>

<EditForm Model="@signUpFormData">
	<DataAnnotationsValidator />
	<InputText type="password"
			   placeholder="Potwierdź hasło"
			   @bind-Value="@signUpFormData.ConfirmPassword"
			   />
	<ValidationSummary />
</EditForm>

<br/>

<button
	type="submit"
	class="btn btn-success form-"
	@onclick="@AddNewAccount">
		
	Zarejestruj
</button>


@code {

	private SignUpFormData signUpFormData = new();

	private async Task AddNewAccount()
	{
		
	}
}
